<div ng-controller="SummaryController as SC">


    <div class="row ng-scope">
        <div class="container-fluid ng-scope">
            <div class="row">
                <div class="ng-scope">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 dashboard-block ng-scope">
                        <div>
                            <h3 class="dashboard-title">Day Wise Work Pattern</h3>
                            <div class="info-block">
                                <!--<h4>-->
                                    <!--<img class="icon" src="/images/clock-icon.png" height="22">-->
                                    <!--<span class="text-bold time-logged ng-binding"> {{SC.displayDate()}} </span> logged-->
                                    <!--<span ng-if="!data.isCurrentWeek" class="ng-scope">in the week</span>-->
                                <!--</h4>-->
                                <div class="diagram text-center">
                                    <div id="week_graph"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>


</div>