<div ng-controller="ActivityController as AC">
    <div class="row ng-scope">
        <div class="container-fluid ng-scope">
            <div class="activity top35 dashboard-header ng-scope">
        <h3 class="dashboard-title col-sm-3 vcenter">My Daily WorkPattern</h3>
        <span class="actMetric col-sm-2 pull-right vcenter">
            <span class="mute" uib-tooltip="This score represents the individual’s ability to focus on one activity at a time rather than frequently switching from one activity to another.">Other</span>
            <span class="numberCircle ng-binding ng-scope other" uib-tooltip="Focus Score">{{AC.other_percentage}}%</span>
        </span>
        <span class="actMetric col-sm-2 pull-right vcenter"> <span class="mute" uib-tooltip="This score measures how aligned the individual is to the manager’s plan by comparing the minutes spent on each activity with the the target schedule laid out by the manager.">Debugging </span>
        <span class="numberCircle ng-binding ng-scope debug" uib-tooltip="Resemblance to the plan">{{AC.debug_percentage}}%</span>

        </span>
        <span class="actMetric col-sm-2 pull-right vcenter">
            <span class="mute" uib-tooltip="This score represents the individual’s ability to focus on one activity at a time rather than frequently switching from one activity to another.">Coding </span>
            <span class="numberCircle ng-binding ng-scope edit" uib-tooltip="Focus Score">{{AC.edit_percentage}}%</span>
        </span>
        <span class="actMetric col-sm-2 pull-right vcenter"> <span class="mute" uib-tooltip="This score uses keyboard strokes and mouse clicks to represents the intensity of the work the individual is performing on his or her computer.">Understanding </span>
            <span class="numberCircle ng-binding ng-scope understand" uib-tooltip="Intensity Score">{{AC.understand_percentage}}%</span>
        </span>
    </div>
            <div class="relative overflowXa">
                <div id="day_graph"></div>
            </div>

        </div>
    </div>
</div>